:root {

    --margin-inline-contentWrapper: 250px;
    --margin-topandbot-contentWrapper: 100px;
    --margin-small-content-gap: 40px;
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    
    background-color: var(--background-color-dark);
    width: 100%;
    overflow-x: hidden;
    color: #fff;
    overflow: overlay;
}

body.loading {
    overflow: hidden;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-dark); /* Semi-transparent white background */
    display: flex;
    flex-direction: column;
    gap: var(--margin-small-content-gap);
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of other content */
    transition: all 1s;
}
.loadingScreenHidden{
    top: -2000px;
}
.loadingScreenRemove{
    display: none;
}
.loadingImg {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    background-image: url('../vectors/Logo.svg'); /* Add your vector image */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotate 4s linear infinite; /* Add a rotating animation */
}
  
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

h1{
    font-family: "Teko", sans-serif;
    color: var(--color-white);
    text-align: center;
    font-size: 150px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6px;
    margin: 0;
}

h2{
    color: var(--color-white);
    font-family: "Teko", sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.72px;
    margin: 0;
}

h3{
    color: var(--color-white);
    font-family: "Teko", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.7px;
    margin: 0;
}

h4{
    color: var(--color-gray);
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.52px;
    margin: 0;
}

p{
    color: var(--color-gray);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.583px;
    margin: 0;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.583px;
}

a li{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
a{
    color: var(--color-white);
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { 
    text-decoration: none; 
    color: var(--color-accent);
}


a:active { text-decoration: none; }
a{
    margin: 0;
    padding: 0;
}

.brAdaptive{
    display: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background:var(--background-color-dark);
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background:var(--color-gray); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent); 
}

button.btnAccent{
    width: fit-content;
    padding: 15px 25px;
    border: unset;
    border-radius: 1px;
    border-style: solid;
    border-color: var(--color-accent);
    color: var(--color-accent);
    z-index: 1;
    background: var(--background-color-dark);
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.583px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  button.btnDark{
    width: fit-content;
    padding: 15px 25px;
    border: unset;
    border-radius: 1px;
    border-style: solid;
    border-color: var(--color-white);
    color: var(--color-white);
    z-index: 1;
    background: var(--background-color-dark);
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.583px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  button.btnDark::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0px;
    background-color: var(--color-white);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
  }
  button.btnAccent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0px;
    background-color: var(--color-accent);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
  }

  button:hover {
    color: var(--background-color-dark);
  }
   
  button:hover::before {
    width: 100%;
  }

.gradientBgHeader{
    position: fixed;
    top: 0px;
    width: 100%;
    background: rgb(11,11,11);
    background: linear-gradient(180deg, var(--background-color-dark) 0%, rgba(0,0,0,0) 100%);
    height: 30svh;
    z-index: 4;
    pointer-events: none;
    display: none;
}

.logo{
    position: fixed;
    top: 45px;
    left: 45px;
    z-index: 5;
}

.logo a #logoImg{
    /* background-color: var(--color-accent); */
    background-image: url(../vectors/Logo.svg);
    /* -webkit-mask:url(../vectors/Logo.svg) center no-repeat;
    mask: url(../vectors/Logo.svg) center no-repeat; */
    height: 43px;
    width: 48px;
    /* background: var(--color-white);
    background: radial-gradient(circle, var(--color-white) 0%, var(--color-white) 0.1%, var(--color-accent) 0.1%); */
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    transition: all 0.5s;
    transition-timing-function: ease-out;
}
/* .logo a:hover #logoImg{
    background-size: 140000%;
} */

.dropShadow{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
}

nav ul {
    z-index: 5;
    list-style: none;
    position: fixed;
    top: 45px;
    right: 45px;
    text-align: right;
    margin: 0;
}

nav ul a li {
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
    color: var(--color-white);
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: right;
}
nav ul a:hover li{
    color: var(--color-accent);
}
/* #projectIcon{
    background-image: url(../vectors/ProjectsIcon.svg);
}
#aboutIcon{
    background-image: url(../vectors/AboutIcon.svg);
}
#resumeIcon{
    background-image: url(../vectors/ResumeIcon.svg);
}
#contactIcon{
    background-image: url(../vectors/ContactIcon.svg);
} */
.navIcon{
    margin-left: 10px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: var(--color-white); */
    
    transition: background-color 0.2s;
}
/* nav ul a:hover li .navIcon{
    background-color: var(--color-accent);
} */
  
.navMediaIcons {
    z-index: 5;
    position: fixed;
    bottom: 60px;
    left: 45px;
    display: flex;
    flex-direction: column;
    width: 32px;
    transition: left 0.5s;
}
.navMediaHidden {
    z-index: 5;
    position: fixed;
    bottom: 60px;
    left: -60px;
    display: flex;
    flex-direction: column;
    width: 32px;
    transition: left 0.5s;
}
  
.scrollUpArrowWrapper{
    z-index: 10;
    position: fixed;
    bottom: 60px;
    right: 45px;
    display: flex;
    flex-direction: column;
    width: 32px;
    transition: bottom 0.5s;
    display: block;
}
.scrollUpArrowWrapperHidden{
    bottom: -60px;
    
}

.scrollUpArrow{
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    transition: margin-bottom 0.1s;
}


.scrollUpArrowWrapper a:hover .scrollUpArrow{
    margin-bottom: 5px;
}

.scrollUpArrowWrapper a:active .scrollUpArrow{
    margin-bottom: 20px;
}

.navMediaIcons div{
    padding-top: 80px;
}

#mediaIconIg{
    background-image: url(../vectors/InstagramIcon.svg);
}

#mediaIconLinkedin{
    background-image: url(../vectors/LinkedInIcon.svg);
}

#mediaIconMail{
    background-image: url(../vectors/GmailIcon.svg);
}

.mediaIconVisual{
    background: var(--color-white);
    background: radial-gradient(circle, var(--color-accent) 0%, var(--color-accent) 0.1%, var(--color-white) 0.1%);
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    transition: all 0.3s;
}
/* 
.mediaIconLink:hover .mediaIconVisual{

    background-size: 140000%;
}
.mediaIconLink p{
    transition: color 0.3s;
}
.mediaIconLink:hover p{
    color: var(--color-accent);
} */


.heroSection{
    position: relative;
    background: linear-gradient(180deg, var(--background-color-dark) 0%, var(--background-color-bright) 100%);
    height: 100svh; 
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroText{
    margin-left: var(--margin-inline-contentWrapper);
    padding: var(--margin-small-content-gap);
    background-color: #000000a9;
    border-radius: 5px;
    
    
}
.heroTextGapH{
    gap: 30px;
}
.heroTextGapV{
    gap: 15px;
}

.btnHero{
    width: 100%;
    margin-top: 30px;
}

.heroProjectsBackground{
    position: relative;
    background-position: 80% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    align-items: flex-start;
}


.heroPZO{
    background-image: url(../images/PZO\ Background.png);
}
.heroLAR{
    background-image: url(../images/LAR\ background.jpg);
}
.heroDN{
    background-image: url(../images/DN\ creature\ 01.jpg);
}
.heroP{
    background-image: url(../images/P\ background.jpg);
}

.heroSection p{
    line-height: 160%;
    
}

.heroSection div{
    margin-top: auto;
}

.arrowProjectPage{
    align-self: center;
}

.orangeText{
    color: var(--color-accent);
}

.arrowWrapper{
    margin-top: auto;
    height: 80px;
    
}

.arrow{
    animation-name: arrowLoop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes arrowLoop{
    0% {height: 30px; padding-top: 0px;}
    
    50%{height: 30px; padding-top: 10px;}
    
    100% {height: 30px; padding-top: 0px;}
}

.contentWrapper{
    margin-bottom: var(--margin-topandbot-contentWrapper);
    margin-left: var(--margin-inline-contentWrapper) ;
    margin-right: var(--margin-inline-contentWrapper);
    max-width: 1400px;
}

.contentWrapperYT{
    margin-bottom: var(--margin-topandbot-contentWrapper);
    margin-left: var(--margin-inline-contentWrapper) ;
    margin-right: var(--margin-inline-contentWrapper);
    max-width: 1400px;
    width: 100%;
}

.contentWrapperFooter{
    margin-bottom: var(--margin-topandbot-contentWrapper);
    margin-left: var(--margin-inline-contentWrapper) ;
    margin-right: var(--margin-inline-contentWrapper);
}

.youtubeVideoWrapper {
    margin-top: var(--margin-small-content-gap);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
}
  
.youtubeVideoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.alignCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTitle{
    display: flex;
    align-items: center;
}

.sectionTitlePaddingTop{
    padding-top: var(--margin-topandbot-contentWrapper);
}

.sectionTitlePaddingBot{
    padding-bottom: var(--margin-small-content-gap);
}


.sectionTitle h4{
    margin-inline: 25px;

}

hr{
    flex: 1;
    border-color: var(--color-gray);
    border-radius: 2px;
}

.projectHomeWrapper{

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: var(--margin-small-content-gap);
    border-color: var(--color-gray);
    border-style: solid;
    border-width: 0;
    transition: background-size 1.5s, box-shadow 0.1s;
}

#HomePZO{
    background-image: url(../images/PZO\ Background.png);
}
#HomeLAR{
    background-image: url(../images/LAR\ background.jpg);

}
#HomeDN{
    background-image: url(../images/DN\ creature\ 01.jpg);

}
#HomeP{
    background-image: url(../images/P\ background.jpg);

}

.projectHomeClickable:hover .projectHomeWrapper{
    background-size: 110%;
    box-shadow: 0px 0px 0px 2px var(--color-gray);
}


.leftGradient{
    padding: var(--margin-small-content-gap);
    background: linear-gradient(90deg, rgba(11,11,11,0.788953081232493) 0%, rgba(0,0,0,0) 50%);
    height: calc(400px - var(--margin-small-content-gap) - var(--margin-small-content-gap));

}

.sectionBg{
    position: relative;
    background: linear-gradient(180deg, var(--background-color-bright) 0%, var(--background-color-dark) 100%);
    /* -webkit-mask:url(../vectors/BackgroundShapeUp.svg) top center / 100% 100svh  no-repeat;
    mask: url(../vectors/BackgroundShapeUp.svg) top center / 100% 100svh no-repeat; */
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 10px);
    min-height: 30svh;
    max-height: 100svh;
    position: absolute;
}
.contactBg{
    min-height: 100svh;
    max-height: 100svh;
    position: absolute;
}

.sectionWithABackground{
    position: relative;
}

.contentFlexH{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.contentFlexV{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.contactBgAdaptiveHeight{
    height: 90svh;
    justify-content:center;
}

.aboutContentWide{
    
    width: 100%;
}

.aboutContentBoxOutline{
    border-style: solid;
    border-color: var(--background-color-bright);
    border-width: 3px;
}

.aboutContentBox{
    padding: var(--margin-small-content-gap);
    align-self: stretch;
    flex: 1;
}

.aboutContentIconH{
    padding-right: var(--margin-small-content-gap);
}
.aboutContentGap{
    gap: var(--margin-small-content-gap);
}

.h3Center{
    text-align: center;
    margin-top: var(--margin-small-content-gap)
}

.contactIcon{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.contactIconsGap{
    gap: var(--margin-small-content-gap);
}

.contatcIconWrapper{
    display: flex;
    align-items: center;
    justify-content: left;
}

.contatcIconWrapperV{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactFlexGap{
    gap: var(--margin-topandbot-contentWrapper);
}

.youtubeVideoWrapper {
    position: relative;
    padding-bottom: 56.25%;
}
    

.videoBig{
    margin-top: var(--margin-small-content-gap);
    max-width: 100%;
    overflow: hidden;
}
.videoNoMargin{
    max-width: 100%;
    overflow: hidden;
}
.videoBig source{
    width: 100%;
    height: auto;
}

.betweenTitlesMargins{
    margin-top: var(--margin-topandbot-contentWrapper);
}

.projectPageImg1{
    margin-top: var(--margin-small-content-gap);
    max-width: 100%;
    height: auto;
    object-fit: contain;

}
.projectPageImg2{
    margin-top: var(--margin-small-content-gap);
    width: calc(50% - var(--margin-small-content-gap));
    height: auto;
    object-fit: contain;

}

.splitContentWrapper{
    display: flex;
    margin-top: var(--margin-small-content-gap);
}
.splitContentWrapperSmallGap{
    margin-top: var(--margin-small-content-gap);
}
.splitContentText{
    align-self: stretch;
    flex: 1;
}

.splitContentVideo{
    flex: 2;
    align-self: flex-start;
}

.splitContentFlip{
    flex-direction: row-reverse;
}

.splitImg1{
    margin-top: var(--margin-small-content-gap);
    max-width: 100%;
    height: auto;
    object-fit: contain;
    align-self: center;

}
.splitImg2{

    width: calc(65% - var(--margin-small-content-gap));
    height: auto;
    object-fit: contain;

}

.twoBtnsWrapper{
    display: flex;
    gap: 20px;
}
.twoBtnWideBox{
    margin-top: var(--margin-small-content-gap);
    display: flex;
    justify-content: center;
}

.chracterConceptImg{
    flex: 1;
}

.chracterConceptImg img{
    width: 100%;
    max-width: max-content;
    margin-top: var(--margin-small-content-gap);
}
.homeProjectBox{
    width: calc(100% - var(--margin-inline-contentWrapper) - var(--margin-inline-contentWrapper));
}
.showOnMobile{
    display: none;
}
.tagCardWrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 30vw;
}
.tagCard{
    background-color: var(--color-accent);
    width: max-content;
    padding-inline: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 40px;
    border-style: solid;  
}
.tagCard p{
    color: var(--color-white);
}

.tagGreen{
    background-color: #335c41;
    border-color: #26463a;
}
.tagOrange{
    background-color: #a4463a;
    border-color: #57251e;
}
.tagPurple{
    background-color: #575D90;
    border-color: #444074;
}
.scrollBtn{
    display: none;
}
.smallMarginTop{
    margin-top: var(--margin-small-content-gap);
}
@media screen and (max-width: 1440px) {
    :root {
        --margin-inline-contentWrapper: 20px;
        --margin-topandbot-contentWrapper: 75px;
        --margin-small-content-gap: 30px;
    }

    
    .navMediaIcons{
        display: none;
    }
    .heroProjectsBackground{
        background-position: 65% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        align-items: center;
    }
    .heroText{
        margin-left: 0;
    }
    .gradientBgHeader{
        display: block;
    }
    .scrollBtn{
        display: block;
    }
    .scrollUpArrowWrapper{
        bottom: -60px;
    }
    .contentWrapperYT{
        width: calc(100% - (var(--margin-inline-contentWrapper) *2));
    }
}

@media screen and (max-width: 980px) {
    :root {
        --margin-inline-contentWrapper: 20px;
        --margin-topandbot-contentWrapper: 75px;
        --margin-small-content-gap: 30px;
    }

    h1{
        font-size: 68px;
        line-height: 100%;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 38px;
    }
    h4{
        font-size: 20px
    }
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    .heroTextPadding{
        padding-left: var(--margin-small-content-gap);
        padding-right: var(--margin-small-content-gap);
    }
    .navMediaIcons{
        display: none;
    }
    .heroProjectsBackground{
        background-position: 65% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        align-items: center;
    }
    .heroText{
        margin-left: 0;
    }
    .gradientBgHeader{
        display: block;
    }
    .projectHomeWrapper{
        height: 200px;
    }
    .leftGradient{
        height: calc(200px - var(--margin-small-content-gap) - var(--margin-small-content-gap));
    }
    .brAdaptive{
        display: block;
    }
    .pAdaptivePhone{
        max-width: 478px;
    }
    .projectPageImg2{
        margin-top: var(--margin-small-content-gap);
        width: 100%;
        height: auto;
        object-fit: contain;
    
    }
    .HorizontalAdaptive{
        flex-direction: column;  
    }
    .splitContentWrapper{
        flex-direction: column;
    }
    button.btnDark{
        font-size: 16px;
    }
    button.btnAccent{
        font-size: 16px;
    }

    .projectPageImg2{
        margin-top: var(--margin-small-content-gap);
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .splitImg2{
        width: 100%;
    
    }
    .betweenTitlesMarginsAdaptive{
        margin-top: var(--margin-topandbot-contentWrapper);
    }
    .contactBgAdaptiveHeight{
        height: 100%;
        justify-content:space-between;
    }
    .contactBg{
        min-height: 30svh;
        max-height: 100svh;
        position: absolute;
    }
    .tagCardWrapper{
        display: none;
    }
    .aboutContentIconV{
        width: 50px;
        height: 50px;
    }
    .aboutContentIconH{
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width: 600px) {
    :root {
        --margin-inline-contentWrapper: 20px;
        --margin-topandbot-contentWrapper: 45px;
        --margin-small-content-gap: 20px;
    }

    h1{
        font-size: 55px;
    }
    h2{
        font-size: 45px;
    }
    h3{
        font-size: 28px;
    }
    h4{
        font-size: 20px
    }
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    .navMediaIcons{
        display: none;
    }
    .heroProjectsBackground{
        background-position: 65% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: left;
        align-items: center;
    }
    .heroText{
        margin-left: 0;
    }
    .gradientBgHeader{
        display: block;
    }
    .navIcon{
        margin-left: 0px;
        width: 0px;
        height: 0px;
        background-color: none;
        display: none;
        
        transition: background-color 0.2s;
    }
    .logo{
        top: 15px;
        left: 15px;
    }
    nav ul {
        top: 15px;
        right: 15px;
    }
    .showOnMobile{
        display: block;
    }
    .heroSection h1{
        padding-inline: 15px;
    }
    .heroSection h4{
        padding-inline: 15px;
    }
    .projectHomeWrapper{
        height: 150px;
    }
    .leftGradient{
        height: calc(150px - var(--margin-small-content-gap) - var(--margin-small-content-gap));
        background: linear-gradient(90deg, rgba(11,11,11,0.788953081232493) 0%,rgba(11, 11, 11, 0.623) 40%, rgba(0,0,0,0) 80%);
    }
    #backToTopBtn{
        display: none;
    }
    .aboutHorizontalAdaptive{
        flex-direction: column;  
    }
    .aboutTitleAdaotive{
        text-align: center; 
        margin-top: 30px;
        
    }
    .aboutHorizontalAdaptive .aboutContentIconH{
        padding: 0; 
        width: 45px;
        height: 45px;
    }
    .aboutContentIconV{
        width: 45px;
        height: 45px;
    }
    .titleAndParagraphWrapper h3{
        margin-top: 20px;
    }
    .aboutHorizontalAdaptive button{
        margin-top: 30px;
    }
    .brAdaptive{
        display: block;
    }
    .pAdaptivePhone{
        max-width: 370px;
    }
    .projectPageImg2{
        margin-top: var(--margin-small-content-gap);
        width: 100%;
        height: auto;
        object-fit: contain;
    
    }
    button.btnDark{
        font-size: 14px;
        padding: 10px;
    }
    button.btnAccent{
        font-size: 14px;
        padding: 10px;
    }
}


